body{
    background-image:linear-gradient(to right bottom,rgb(0, 88, 128),rgb(0, 140, 93));
    font-size:1.5rem;
    height: 100vh;
    width: 100vw;
    font-family:"Monserrat", sans-serif;
    display:flex;
    justify-content: center;
    align-items:center;
}

label{
    font-size: 2rem;
    color: white;
    text-shadow: black;
}

div{
    font-size: 2rem;
    color: white;
    text-shadow: pink;
}

span{
    font-weight: bolder;
}